
<h1>Password reset link from Sample App </h1>

<h1>Hi <%= @user.name %></h1>


<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>